#product-overview {
    /*background: url("./images/freedom.jpg") left 10% top 20%/cover no-repeat border-box scroll;*/

    /*stacking backgrounds in css at first we use the linear gradient than the image */

    /*background: linear-gradient(to top, rgba(80, 68, 18, 60%) 10%, transparent), url("./images/freedom.jpg") left 10% top 20%/cover no-repeat border-box;*/
    /*background-size: cover;*/
    /*background-position: left 10% top 20%;*/
    /*background-repeat: no-repeat;*/
    /*background-origin: border-box;*/
    /*background-clip: border-box;*/
    /*background-attachment: scroll;*/
    background-image: linear-gradient(10deg, #054b16 15%, #19a23e 45%, #c9f6d6 65%, transparent);
    /*background-image: radial-gradient(ellipse farthest-side, #38b000 20%, #006400 80%);*/
    height: 45vh;
    width: 100%;
    position: relative;
}

.section-title {
    text-align: center;
    color: #2ddf5c;
}

#product-overview h1 {
    font-size: 1.2rem;
    color: white;
    position: absolute;
    left: 5%;
    top: 85%;
}


.plan-container {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 1rem;
    width: 100%;
    height: 28rem;
}

.plan--highlighted {
    background: #19b84c;
    border: 2px solid black;
    color: white;
    height: 32rem;
    /*box-shadow: 2px 2px 2px 2px rgba(24, 24, 24, 0.6);*/
}

.plan__annotation {
    background: white;
    color: #19a23e;
    padding: .8rem;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(24, 24, 24, 0.6);
}


.plan__title {
    color: #0e4f1f;
    margin-top: 4rem;
}

.plan.plan--highlighted > .plan__title {
    margin-top: 2rem;
}

.plan__price {
    color: #8f8f8f;
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan__features {
    list-style: none;
    padding: 0;
    margin: 0;
}

.plan__features li {
    margin: .5rem 0px;
}

#key-features {
    background: #ff1b68;
    margin-top: 80px;
    padding: 1rem;
}

#key-features .section-title {
    color: white;
    margin: 2rem;
}

.key-features--list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.key-feature--image {
    background: #ffcede;
    width: 128px;
    margin: auto;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    padding: 1.5rem;
}

.key-feature--description {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}


.brand-second-text {
    font-size: .8rem;
}


.main-nav__item--cta a:hover,
.main-nav__item--cta a:hover {
    color: red;
    background-color: white;
    padding: .5rem 1rem;
    margin: .4rem;
    border: none;
}

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
}

.modal__action--negative {
    background: red;
    border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
}


@media (min-width: 40rem) {
    .plans {
        width: 100%;
    }

    #product-overview h1 {
        font-size: 2.5rem;
        left: 3%;
        top: 70%;
    }

    .plan {
        max-width: 24rem;
        min-width: 13rem;
        margin: 0.5rem;
    }

    .plan--highlighted {
        box-shadow: 2px 2px 2px 2px rgba(24, 24, 24, 0.6);
    }

    .key-features--list {
        justify-content: space-between;
    }

    .key-features--list li {
        display: inline-block;
        text-align: center;
        margin: auto;
        vertical-align: top;
    }

    .key-feature--description {
        text-align: center;
        font-size: 1.8rem;
        margin: 1rem;
    }
}